
.layui-layer-ico {
	background: url(icon.png) no-repeat
}

.layui-layer-title {
	color: #fff;
	background-color: #1C84C6;
}

.layer-delete .layui-layer-title {
	background-color: #f57373;
}

.layui-layer {
	max-width: 50rem
}

.layer-negative {
	max-width: 44rem
}
.layer-magic {
	max-width: 40rem
}
.layer-negative .layui-layer-title {
	background-color: #FF7F50;
}

.layer-magic .layui-layer-title {
	background-color: #22B8CF;
}

.layui-layer-setwin .layui-layer-min:hover cite {
	background-color: #2D93CA
}

.layui-layer-setwin .layui-layer-close1 {
    background-position: -80px -40px;
	cursor: pointer
}

